* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  background: radial-gradient(#66ccff, #0099ff);
  background-position: center;
  background-repeat: no-repeat;
  flex-direction: column;
}

.score-board {
  display: flex;
  justify-content: space-around;
  background-color: #eee;
  width: 450px;
  height: 100px;
  border: 1px solid #412b2b;
  border-radius: 25px;
  margin-top: 35px;
}

.score-board .line {
  width: 5px;
  height: 100px;
  background-color: #070606;
}

.score-board .score-item {
  display: flex;
  align-items: center;
  padding: 15px;
}

.score-board .score-item > p {
  font-size: 70px;
  font-weight: 500;
  margin-left: 20px;
  color: #060e0f;
}

.x {
  font-size: 140px;
  color: rgb(234, 76, 76);
  text-shadow: 4px 4px 4px #ba1616;
}

.o {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-right: 10px;
  border: 15px solid #008cff;
  box-shadow: 7px 5px 4px #005499;
}

.container {
  transform: translateY(20px);
  background-color: #5c5c5c;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 35px;
  width: 680px;
  height: 680px;
  padding-top: 40px;
  margin-bottom: 80px;
  border-radius: 20px;
}

button {
  border-radius: 50px;
  border: 1px solid #615555;
  outline: none;
  background-color: #b8dbd5;
  padding: 20px;
  width: 195px;
  height: 190px;
  margin: 0px 15px 10px 0px;
  cursor: pointer;
}
button:hover{
  background-color: #868a89;
}

/* button:not(:nth-child(3n)) {
  border-right: 10px solid #191616;
}

button:not(:nth-last-child(-n + 3)):not(:last-child) {
  border-bottom: 10px solid #191616;
} */

.btn-o {
  font-size: 130px;
  color: #008cff;
  font-weight: bolder;
  text-align: center;
  text-shadow: 7px 5px 4px #005499;
}

.hidden {
  display: none;
}

.modal {
  position: absolute;
  border-radius: 10px;
  background-color: #302323;
  top: 50%;
  right: 50%;
  transform: translate(50%, -70%);
  z-index: 1000;
  width: 450px;
  height: 200px;
}

.modal .cont {
  position: relative;
}

.modal h4 {
  background-color: #233846;
  padding: 14px;
  border-top-left-radius: 10px;
  text-align: center;
  border-top-right-radius: 10px;
  font-size: 40px;
  color: #AFDBDC;
  border: none;
}

.modal .btns {
  display: flex;
  padding: 35px;
  justify-content: center;
  gap: 20px;
}

.modal .new {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-size: 20px;
  font-weight: bold;
  top: 110px;
  right: 65px;
  background-color: #4c584f;
  height: 60px;
  width: 180px;
  border: none;
  color: #fff;
  cursor: pointer;
}

@-webkit-keyframes new {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
@keyframes new {
  50% {
    background-color: rgba(32, 152, 209, 0.75);
  }
}
.modal .new {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  overflow: hidden;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
.modal .new:hover, .modal .new:focus, .modal .new:active {
  -webkit-animation-name: new;
  animation-name: new;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 0.5s;
  animation-delay: 0.5s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  background-color: #2098D1;
  background-color: #2098d1;
  color: white;
}

.modal .reset {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  font-weight: bold;
  font-size: 20px;
  top: 110px;
  right: 275px;
  background-color: #a27321;
  height: 60px;
  width: 180px;
  border: none;
  color: #fff;
  cursor: pointer;
}


  @-webkit-keyframes reset {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  @keyframes reset {
    25% {
      -webkit-transform: scale(1.1);
      transform: scale(1.1);
    }
    75% {
      -webkit-transform: scale(0.9);
      transform: scale(0.9);
    }
  }
  .modal .reset {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  }
  .modal .reset:hover, .modal .reset:focus, .modal .reset:active {
    -webkit-animation-name: reset;
    animation-name: reset;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
  }

  


.overlay {
  position: fixed;
  z-index: 777;
  content: "";
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
}

.btn_x {
  font-size: 140px;
  color:  rgb(234, 76, 76);
  text-shadow: 7px 2px 7px #ba1655;
}

.btn_o {
  font-size: 140px;
  color: #008cff;
  text-shadow: 8px 5px 7px #005499;
}
